body {
  font-family: 'Work Sans', sans-serif;
  --bs-body-color: var(--bs-white);
  --bs-body-bg: var(--bs-black);
  --bs-body-font-weight: 300;
}

.container {
  height: 100%;
  max-width: 960px;
}

.text-badge {
  padding: .1em.4em;
  background: var(--bs-black);
}

.banner {
  padding: 2em 1em;
  text-align: center;
  background: var(--bs-blue);
  border-radius: 1em;
}

.projects {
  --bs-gutter-y: 1.5rem;
}

.header-background {
  position: relative;
}

.header-background::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.4); /* Couleur d'arrière-plan avec opacité */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Pour s'assurer que la superposition est en arrière-plan */
}

.block a
{
    border: 5px solid rgb(0, 13, 255);
    background-color: rgb(0, 13, 255);
    color : white;   
    text-decoration: none;                                                                                   
    padding: 5px;
    font-size: 30px;
    font-weight: 700;
    border-radius: 10px;
    margin: 0px 40px;
}
.block
{
    text-align: center;
    margin-top: 20%;
   
}
.body-accueil
{
    background-color: aqua;
}

